body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
}
.bg{
  width: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
nav {

  margin: 30px;
  margin-right: 60px;
}
nav > a {
  color: yellow;
}
.logo {
  font-size: 30px;
  color: red;
  float: left;
  margin-top: 0;
  margin-left: 60px;
}
main{
  position: absolute;
  margin: 0;
  display: block;
  background-color: ;
  text-align: center;
  width: 100%;
}
main > p{
  color: green;
  font-size: 40px;
  margin-top: 14%;

}
.middle{
 position: absolute;
 top: 100%;
 width: 100%;
 text-align: center;
}
.bth{
  width: 30px;
  height: 30px;
  background-color: rgb(141,252,197);
  display: inline-block;
  border-radius: 30%;
  box-shadow: 5px 5px 10px rgb(41,255,255);
}
.bth i{
  position: relative;
  top: 20%;
  font-size: 20px;
  color: rgb(255,190,41);
  transition: 0.3s linear;
}
.bth i:hover{
  transform: scale(2) rotate(360000000000000deg);
}
