body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
}
.bg{
  width: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
nav {

  margin: 30px;
  margin-right: 60px;
}
nav > a {
  color: yellow;
}
.logo {
  font-size: 30px;
  color: red;
  float: left;
  margin-top: 0;
  margin-left: 60px;
}
main{
  position: absolute;
  margin: 0;
  display: block;
  background-color: ;
  text-align: center;
  width: 100%;
}
main > p{
  color: green;
  font-size: 40px;
  margin-top: 14%;

}
